<div class="box">
<p>
  <%= image_tag comment.user.photo.url(:thumb) %>
  <%= link_to comment.user.name, comment.user %>
  <b>says:</b>
  <br/>
  <%= comment.created_at %>
</p>
 
<blockquote>
  <%= comment.body %>
</blockquote>

<% if comment.user_id == current_user.id %>
  <p>
    <%= link_to 'Remove Comment', [comment.recipe, comment],
                 :confirm => 'Are you sure?',
                 :method => :delete %>
  </p>
<% end %>
</div>
