
<%= form_for(@recipe, :html => { :multipart => true }) do |recipe_form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= recipe_form.label :name %><br />
    <%= recipe_form.text_field :name %>
  </div>
  <div class="field">
    <%= recipe_form.label :description %><br />
    <%= recipe_form.text_field :description %>
  </div>
  <div class="field">
    <%= recipe_form.label :ingredients %><br />
    <%= recipe_form.text_area :ingredients %>
  </div>
  <div class="field">
    <%= recipe_form.label :instructions %><br />
    <%= recipe_form.text_area :instructions %>
  </div>
  <div class="field">
    <%= recipe_form.label :preparation_time %><br />
    <%= recipe_form.text_field :preparation_time %>
  </div>
  <div class="field">
    <%= recipe_form.label :servings %><br />
    <%= recipe_form.text_field :servings %>
  </div>
  <div class="field">
    <%= recipe_form.label :picture %><br />
    <%= recipe_form.file_field :photo %>
  </div>
  <div class="field">
    <%= recipe_form.label :tags %><br />
    <%= recipe_form.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= recipe_form.submit %>
  </div>
<% end %>
