<%= image_tag @recipe.photo.url %>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Preparation time (minutes):</b>
  <%= @recipe.preparation_time %> minute(s)
</p>

<p>
  <b>Servings:</b>
  <%= @recipe.servings %>
</p>

<p>
  <b>Author:</b>
  <%= link_to @recipe.user.name, @recipe.user %>
</p>

<p>
  <b>Tags:</b>
  <%= @recipe.tag_list %>
</p>
<hr/>
<h3><%= @recipe.comments.size %> Comment(s)</h3>
<%= render :partial => "comments/comment",
           :collection => @recipe.comments %>

<h3>Post a comment:</h3>
<%= render "comments/form" %>

<% if @recipe.user_id == current_user.id %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
