<!DOCTYPE html>
<html>
<head>
  <title>Recipebook</title>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= stylesheet_link_tag 'blueprint/plugins/fancy-type/screen', :media => 'screen' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container">
  <div class="span-24" id="header">
    <ul class="hmenu">
      <%= link_to 'Home', '/' %>
      |
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
  
  <div class="span-18" id="content">
    <% if notice %>
      <p class="info"><%= notice %></p>
    <% end %>
    
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </div>
  
  <div class="span-6 last" id="right-side-bar">
    <%= render 'recipes/search_form' %>
  
    <% if !user_signed_in? %>
      <%= render 'devise/sessions/global_signin' %>
    <% end %>
  
    <%= render 'tags/global_tag_cloud' %>
    
    <% if user_signed_in? %>
      <%= render 'tags/my_tag_cloud' %>
    <% end %>
  </div>
  
  <hr style=""/>
  
  <div class="span-11 colborder">
    Some stuff here...
    <br/>
    It'll be great
  </div>
  
  <div class="span-12 last">
    Some more stuff here...
    <br/>
    Awesome!
  </div>
  
</div>

</body>
</html>
